body {
    background: violet;
    /* text-align: center; */

.container {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

}
.header {
    display: flex;
    margin: 0;
  padding: 0;
    background: rgb(196, 73, 93);
    color: blue;
}

.footer {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    background: rgb(139, 107, 107);
    justify-content: center;
    /* height: 500px; */
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.content {
    background: rgb(138, 137, 77);
    border-radius: 3px;
    margin: 5px; /* Adds space between items */

}

.img {
    width: 100px;
    /* background: rgb(62, 28, 185); */
    border-radius: 3px;
    margin: 5px; /* Adds space between items */
}

.link {
    /* max-width: 50%; */
    background: blueviolet;
    border-radius: 3px;
    margin: 5px; /* Adds space between items */

}

.header-basic {
    background: rgb(134, 24, 66);
    border-radius: 3px;
    margin: 5px; /* Adds space between items */


}


